<div> 
    <div>
        <h4>Select a bucket</h4>
        <mat-form-field>
          <mat-label>Bucket</mat-label>
          <select matNativeControl required [(ngModel)]="selectedBucketId">
            <option *ngFor="let bucket of bucketList" [value]='bucket.id'>{{bucket.name}}</option>
          </select>
        </mat-form-field> 
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Event title</mat-label>
            <input matInput placeholder="Ex. Data Error" [(ngModel)]="title">
          </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Event Message</mat-label>
            <input matInput placeholder="Ex. Production error happened because..." [(ngModel)]="message">
          </mat-form-field>
        <button mat-raised-button (click)="storeEvent()">
            Store Event
        </button>  
    </div>
    <div>
        <h4>Events UUIDs</h4>
        <div>
            <button mat-raised-button (click)="getEventUUids()">
                Get event UUIDs from bucket
            </button> 
            <div>
                <button mat-raised-button *ngFor="let event of eventUUIDs" (click)="getEventById(event)">
                    {{event}}
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="selectedEvent">
        <h4>
            Selected Event Data
        </h4>
        <div>
            <div>
                <h5>
                    Event Title
                </h5>
                <p>{{selectedEvent.title}}</p>
            </div>
            <div>
                <h5>
                    Event Message
                </h5>
                <p>{{selectedEvent.message}}</p>
            </div>
        </div>
    </div>
</div>
